<h1>投稿詳細</h1>
<%= @user.name %>
<p>タイトル: <%= @picture.title %></p>
<p>投稿内容: <%= @picture.content %></p>

<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url %>
</p>

<%= link_to '戻る', pictures_path %>